<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="assets/style.css">
    <title>Vue</title>
</head>
<body>

    <div class="container">
        <div class="card center" id="counter">
            <h1>{{ title }}: {{ counter }}</h1>
            <div class="card__footer">
                <button class="btn primary" @click="counter++">Добавить</button>
                <button class="btn danger" @click="counter--">Вычесть</button>
            </div>
        </div>

        <div class="notes center" id="notes">
            <h1 :style="{
                color: notesValue.length < 5 ? 'darkred' : 'darkblue',
                fontSize: notesValue.length < 6 ? '2rem' : '3rem'
            }">{{ title }}</h1>
            <div class="notes__control">
                <input
                    class="notes__input"
                    type="text"
                    :placeholder="notesPlaceholder"
                    v-model="notesValue"
                    @keypress.enter="addNewNote"
                >
            </div>
            <button class="btn" @click="addNewNote">Добавить</button>
            <hr>
            <ul class="notes__list" v-if="notes.length !== 0">
                <li class="notes__item" v-for="(myNote, index) of notes">
<!--                    <span :class="myNote.length > 5 ? 'primary' : 'bold'">{{ toUpperCase(myNote) }}</span>-->
<!--
                    <span :class="{
                        'primary': true,
                        'bold': myNote.length > 5
                    }">{{ toUpperCase(myNote) }}</span>
-->
                    <span :class="['bold', {'primary': myNote.length > 5}]">{{ toUpperCase(myNote) }}</span>
                    <button class="btn danger" v-on:click="removeNote(index)">Удалить</button>
                </li>
                <hr>
                <li>
                    <strong>Общее количество: {{ notes.length }}</strong>
                </li>
            </ul>
            <div v-else>Заметок нет, добавьте их!</div>
        </div>
    </div>




<script src="https://unpkg.com/vue@next"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
